@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #0c0c0e;
  background-color: #eef1f4;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1188px;
  width: 100%;
  margin: 0 auto;
  padding: 0 36px;
  box-sizing: border-box;
}
@media (max-width: 680px) {
  .container {
    padding: 0 12px;
  }
}

.header {
  padding: 30px 0;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .header {
    padding: 20px 0;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 15px 0;
  }
}
.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media (max-width: 992px) {
  .header .container {
    gap: 15px 25px;
  }
}
@media (max-width: 680px) {
  .header .container {
    flex-wrap: wrap;
    gap: 15px 20px;
  }
}
@media (max-width: 400px) {
  .header .container {
    gap: 15px;
  }
}
.header__burger {
  position: relative;
  flex: 0 0 auto;
}
.header__burger::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  cursor: pointer;
}
.header__burger.active::before {
  display: block;
}
.header__burger-button {
  display: block;
  width: 35px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/hamburger.svg) center/cover no-repeat;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__burger-button {
    width: 25px;
  }
}
@media (max-width: 576px) {
  .header__burger-button {
    width: 20px;
  }
}
.header__burger-button:hover {
  filter: brightness(110%);
}
.active .header__burger-button {
  background-image: url(../assets/close.svg);
}
.header__burger-nav {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  display: none;
  padding: 10px 0px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
}
.active .header__burger-nav {
  display: flex;
}
.header__burger-nav-link {
  display: inline-block;
  min-width: 160px;
  padding: 15px 35px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #0c0c0e;
  transition: all ease-in-out 0.2s;
}
@media (max-width: 992px) {
  .header__burger-nav-link {
    font-size: 14px;
    padding: 14px 35px;
  }
}
@media (max-width: 576px) {
  .header__burger-nav-link {
    min-width: 210px;
    padding: 12px 25px;
  }
}
.header__burger-nav-link:hover {
  color: #d31d1d;
  background: rgba(12, 12, 14, 0.06);
}
.header__location {
  position: relative;
  flex: 0 0 auto;
  max-width: 180px;
}
.header__location::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  cursor: pointer;
}
.header__location.active::before {
  display: block;
}
@media (max-width: 992px) {
  .header__location {
    max-width: 162px;
  }
}
@media (max-width: 400px) {
  .header__location {
    max-width: 120px;
  }
}
.header__location-button {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 100%;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #0c0c0e;
  text-align: left;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  transition: color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__location-button {
    gap: 6px;
    font-size: 13px;
  }
}
.header__location-button:hover {
  color: #d31d1d;
}
.header__location-button::before {
  content: "";
  flex: 0 0 auto;
  display: block;
  width: 22px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/geo.svg) center/cover no-repeat;
}
@media (max-width: 992px) {
  .header__location-button::before {
    width: 16px;
  }
}
.header__location-button-city {
  display: inline-block;
  max-width: calc(100% - 30px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}
@media (max-width: 992px) {
  .header__location-button-city {
    max-width: calc(100% - 22px);
  }
}
.header__location-modal {
  position: absolute;
  top: calc(100% + 15px);
  left: -32px;
  z-index: 500;
  display: none;
  width: -moz-max-content;
  width: max-content;
  padding: 30px 35px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
}
@media (max-width: 576px) {
  .header__location-modal {
    padding: 25px;
  }
}
.active .header__location-modal {
  display: block;
}
.header__location-modal-city {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #0c0c0e;
}
@media (max-width: 576px) {
  .header__location-modal-city {
    font-size: 13px;
    margin: 0 0 15px;
  }
}
.header__location-modal-city::before {
  content: "";
  flex: 0 0 auto;
  display: block;
  width: 22px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/geo.svg) center/cover no-repeat;
}
@media (max-width: 992px) {
  .header__location-modal-city::before {
    width: 16px;
  }
}
.header__location-modal-buttons {
  display: flex;
  gap: 10px;
}
.header__location-modal-buttons-ok, .header__location-modal-buttons-choose {
  flex: 0 0 auto;
  padding: 13px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  border-radius: 40px;
  transition-property: color, border-color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__location-modal-buttons-ok, .header__location-modal-buttons-choose {
    padding: 10px 14px;
    font-size: 13px;
  }
}
.header__location-modal-buttons-ok {
  color: #ffffff;
  border: 1px solid #d31d1d;
  background-color: #d31d1d;
}
.header__location-modal-buttons-ok:hover {
  color: #d31d1d;
  background-color: #ffffff;
}
.header__location-modal-buttons-choose {
  color: #0c0c0e;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}
.header__location-modal-buttons-choose:hover {
  border-color: #0c0c0e;
}
.header__search {
  flex: 1 1 auto;
}
.header__search::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  cursor: pointer;
}
.header__search.active::before {
  display: block;
}
@media (max-width: 680px) {
  .header__search {
    flex: 1 1 100%;
    order: 100;
  }
}
.header__search-form {
  position: relative;
}
.header__search-form-input {
  display: block;
  width: 100%;
  padding: 13px 56px 13px 20px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #0c0c0e;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
}
@media (max-width: 992px) {
  .header__search-form-input {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .header__search-form-input {
    padding: 10px 46px 10px 15px;
    font-size: 13px;
  }
}
.header__search-form-input::-moz-placeholder {
  color: #cccccc;
}
.header__search-form-input::placeholder {
  color: #cccccc;
}
.header__search-form-input::-webkit-search-decoration, .header__search-form-input::-webkit-search-cancel-button, .header__search-form-input::-webkit-search-results-button, .header__search-form-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.header__search-form-button {
  position: absolute;
  top: 7px;
  right: 10px;
  bottom: 7px;
  display: block;
  aspect-ratio: 1/1;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/search_icon.svg) center/16px no-repeat;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__search-form-button {
    top: 3px;
    bottom: 3px;
  }
}
.header__search-results {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  z-index: 500;
  display: none;
  padding: 15px 0px;
  max-height: calc(100dvh - 240px);
  max-width: calc(100% - 24px);
  width: 454px;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  transform: translate3d(-50%, 0, 0);
}
@media (max-width: 576px) {
  .header__search-results {
    padding: 10px 0;
  }
}
.active .header__search-results {
  display: block;
}
.header__search-results-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.header__search-results-list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 25px;
  transition: background-color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__search-results-list-item {
    padding: 15px 20px;
  }
}
.header__search-results-list-item:hover {
  background-color: rgba(12, 12, 14, 0.05);
}
.header__search-results-list-item-figure {
  display: block;
  width: 42px;
  aspect-ratio: 1/1;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .header__search-results-list-item-figure {
    width: 38px;
  }
}
.header__search-results-list-item-figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__search-results-list-item-info > * {
  font-size: 16px;
  line-height: 100%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .header__search-results-list-item-info > * {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .header__search-results-list-item-info > * {
    font-size: 13px;
  }
}
.header__search-results-list-item-info-name {
  margin: 0 0 10px;
  font-weight: 600;
}
@media (max-width: 576px) {
  .header__search-results-list-item-info-name {
    margin: 0 0 8px;
  }
}
.header__search-results-list-item-info-price {
  font-weight: 400;
}
.header__search-results-all {
  padding: 15px 25px;
}
@media (max-width: 992px) {
  .header__search-results-all {
    padding: 15px 20px;
  }
}
.header__search-results-all-button {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #0c0c0e;
  border: none;
  background: none;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__search-results-all-button {
    font-size: 14px;
  }
}
.header__search-results-all-button:hover {
  color: #d31d1d;
}
.header__basket {
  flex: 0 0 auto;
}
.header__basket-button {
  display: flex;
  align-items: center;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  border: 1px solid rgba(211, 29, 29, 0);
  border-radius: 40px;
  background-color: #db2222;
  transition-property: color, border, background-color, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__basket-button {
    padding: 18px 25px;
    font-size: 13px;
  }
}
@media (max-width: 680px) {
  .header__basket-button {
    padding: 11px 20px;
  }
}
.header__basket-button:hover {
  color: #d31d1d;
  border-color: #d31d1d;
  background-color: #ffffff;
}
.header__basket-button::before {
  content: "";
  display: block;
  width: 14px;
  margin-right: 5px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/basket.svg) center/cover no-repeat;
  transition-property: inherit;
  transition-timing-function: inherit;
  transition-duration: inherit;
  filter: brightness(1000%);
}
@media (max-width: 992px) {
  .header__basket-button::before {
    width: 14px;
  }
}
.header__basket-button:hover::before {
  filter: brightness(100%);
}
@media (max-width: 992px) {
  .header__basket-button-text {
    display: none;
  }
}
@media (max-width: 576px) {
  .header__basket-button-price {
    display: none;
  }
}
.header__telegram {
  flex: 0 0 auto;
}
.header__telegram-link {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background: url(../assets/telegram-logo.svg) center/cover no-repeat;
  transition: filter ease-in-out 0.2s;
  filter: grayscale(100%);
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__telegram-link {
    width: 42px;
  }
}
@media (max-width: 576px) {
  .header__telegram-link {
    width: 34px;
  }
}
.header__telegram-link:hover {
  filter: grayscale(0%);
}

.main {
  padding: 50px 0 60px;
}
@media (max-width: 992px) {
  .main {
    padding: 30px 0 40px;
  }
}
@media (max-width: 576px) {
  .main {
    padding: 20px 0 30px;
  }
}

.breadcrumbs__link, .breadcrumbs__current {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
@media (max-width: 992px) {
  .breadcrumbs__link, .breadcrumbs__current {
    font-size: 13px;
  }
}
.breadcrumbs__link {
  display: inline-block;
  color: #0c0c0e;
  transition: color ease-in-out 0.2s;
}
.breadcrumbs__link:hover {
  color: #d31d1d;
}
.breadcrumbs__link::after {
  content: "/";
  display: inline-block;
  margin: 0 8px;
  color: #777777;
}
.breadcrumbs__current {
  color: #777777;
}