@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #0c0c0e;
  background-color: #eef1f4;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1188px;
  width: 100%;
  margin: 0 auto;
  padding: 0 36px;
  box-sizing: border-box;
}
@media (max-width: 680px) {
  .container {
    padding: 0 12px;
  }
}

.custom-select {
  position: relative;
  margin: 0;
  border: none;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #0c0c0e;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select .select-selected > span {
  display: inline-block;
  text-overflow: ellipsis;
  border-radius: 32px;
}
.custom-select .select-selected::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-image: url(../assets/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  transition: all ease-in-out 0.1s;
}
.custom-select .select-selected.active::after {
  transform: rotate(180deg);
}
.custom-select .select-hide {
  display: none !important;
}
.custom-select .select-items {
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  max-height: 320px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #0c0c0e;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .custom-select .select-items {
    font-size: 13px;
  }
}
.custom-select .select-items::-webkit-scrollbar {
  width: 4px;
}
.custom-select .select-items::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.custom-select .select-items .same-as-selected {
  color: #d31d1d;
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-select .select-items div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 15px 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .custom-select .select-items div {
    padding: 10px 25px;
  }
}
.custom-select .select-items div:hover {
  background: rgba(12, 12, 14, 0.06);
}
.custom-select .select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.header {
  padding: 30px 0;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .header {
    padding: 20px 0;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 15px 0;
  }
}
.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media (max-width: 992px) {
  .header .container {
    gap: 15px 25px;
  }
}
@media (max-width: 680px) {
  .header .container {
    flex-wrap: wrap;
    gap: 15px 20px;
  }
}
@media (max-width: 359.9px) {
  .header .container {
    gap: 15px;
  }
}
.header__burger {
  position: relative;
  flex: 0 0 auto;
}
.header__burger::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  cursor: pointer;
}
.header__burger.active::before {
  display: block;
}
.header__burger-button {
  display: block;
  width: 35px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/hamburger.svg) center/cover no-repeat;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__burger-button {
    width: 25px;
  }
}
@media (max-width: 576px) {
  .header__burger-button {
    width: 20px;
  }
}
.header__burger-button:hover {
  filter: brightness(110%);
}
.active .header__burger-button {
  background-image: url(../assets/close.svg);
}
.header__burger-nav {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  display: none;
  padding: 10px 0px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
}
.active .header__burger-nav {
  display: flex;
}
.header__burger-nav-link {
  display: inline-block;
  min-width: 160px;
  padding: 15px 35px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #0c0c0e;
  transition: all ease-in-out 0.2s;
}
@media (max-width: 992px) {
  .header__burger-nav-link {
    font-size: 14px;
    padding: 14px 35px;
  }
}
@media (max-width: 576px) {
  .header__burger-nav-link {
    min-width: 210px;
    padding: 12px 25px;
  }
}
.header__burger-nav-link:hover {
  color: #d31d1d;
  background: rgba(12, 12, 14, 0.06);
}
.header__location {
  position: relative;
  flex: 0 0 auto;
  max-width: 180px;
}
.header__location::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  cursor: pointer;
}
.header__location.active::before {
  display: block;
}
@media (max-width: 992px) {
  .header__location {
    max-width: 164px;
  }
}
@media (max-width: 359.9px) {
  .header__location {
    max-width: 120px;
  }
}
.header__location-button {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 100%;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #0c0c0e;
  text-align: left;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  transition: color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__location-button {
    gap: 6px;
    font-size: 13px;
  }
}
.header__location-button:hover {
  color: #d31d1d;
}
.header__location-button::before {
  content: "";
  flex: 0 0 auto;
  display: block;
  width: 22px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/geo.svg) center/cover no-repeat;
}
@media (max-width: 992px) {
  .header__location-button::before {
    width: 16px;
  }
}
.header__location-button-city {
  display: inline-block;
  max-width: calc(100% - 30px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}
@media (max-width: 992px) {
  .header__location-button-city {
    max-width: calc(100% - 22px);
  }
}
.header__location-modal {
  position: absolute;
  top: calc(100% + 15px);
  left: -32px;
  z-index: 500;
  display: none;
  width: -moz-max-content;
  width: max-content;
  padding: 30px 35px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
}
@media (max-width: 576px) {
  .header__location-modal {
    padding: 25px;
  }
}
.active .header__location-modal {
  display: block;
}
.header__location-modal-city {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #0c0c0e;
}
@media (max-width: 576px) {
  .header__location-modal-city {
    font-size: 13px;
    margin: 0 0 15px;
  }
}
.header__location-modal-city::before {
  content: "";
  flex: 0 0 auto;
  display: block;
  width: 22px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/geo.svg) center/cover no-repeat;
}
@media (max-width: 992px) {
  .header__location-modal-city::before {
    width: 16px;
  }
}
.header__location-modal-buttons {
  display: flex;
  gap: 10px;
}
.header__location-modal-buttons-ok, .header__location-modal-buttons-choose {
  flex: 0 0 auto;
  padding: 13px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  border-radius: 40px;
  transition-property: color, border-color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__location-modal-buttons-ok, .header__location-modal-buttons-choose {
    padding: 10px 14px;
    font-size: 13px;
  }
}
.header__location-modal-buttons-ok {
  color: #ffffff;
  border: 1px solid #d31d1d;
  background-color: #d31d1d;
}
.header__location-modal-buttons-ok:hover {
  color: #d31d1d;
  background-color: #ffffff;
}
.header__location-modal-buttons-choose {
  color: #0c0c0e;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}
.header__location-modal-buttons-choose:hover {
  color: #ffffff;
  border-color: #0c0c0e;
  background-color: #0c0c0e;
}
.header__search {
  flex: 1 1 auto;
}
.header__search::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  cursor: pointer;
}
.header__search.active::before {
  display: block;
}
@media (max-width: 680px) {
  .header__search {
    flex: 1 1 100%;
    order: 100;
  }
}
.header__search-form {
  position: relative;
}
.header__search-form-input {
  display: block;
  width: 100%;
  padding: 13px 56px 13px 20px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #0c0c0e;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
}
@media (max-width: 992px) {
  .header__search-form-input {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .header__search-form-input {
    padding: 10px 46px 10px 15px;
    font-size: 13px;
  }
}
.header__search-form-input::-moz-placeholder {
  color: #cccccc;
}
.header__search-form-input::placeholder {
  color: #cccccc;
}
.header__search-form-input::-webkit-search-decoration, .header__search-form-input::-webkit-search-cancel-button, .header__search-form-input::-webkit-search-results-button, .header__search-form-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.header__search-form-button {
  position: absolute;
  top: 7px;
  right: 10px;
  bottom: 7px;
  display: block;
  aspect-ratio: 1/1;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/search_icon.svg) center/16px no-repeat;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__search-form-button {
    top: 3px;
    bottom: 3px;
  }
}
.header__search-results {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  z-index: 500;
  display: none;
  padding: 15px 0px;
  max-height: calc(100dvh - 240px);
  max-width: calc(100% - 24px);
  width: 454px;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  transform: translate3d(-50%, 0, 0);
}
@media (max-width: 576px) {
  .header__search-results {
    padding: 10px 0;
  }
}
.active .header__search-results {
  display: block;
}
.header__search-results-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.header__search-results-list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 25px;
  transition: background-color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__search-results-list-item {
    padding: 15px 20px;
  }
}
.header__search-results-list-item:hover {
  background-color: rgba(12, 12, 14, 0.05);
}
.header__search-results-list-item-figure {
  display: block;
  width: 42px;
  aspect-ratio: 1/1;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .header__search-results-list-item-figure {
    width: 38px;
  }
}
.header__search-results-list-item-figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__search-results-list-item-info > * {
  font-size: 16px;
  line-height: 100%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .header__search-results-list-item-info > * {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .header__search-results-list-item-info > * {
    font-size: 13px;
  }
}
.header__search-results-list-item-info-name {
  margin: 0 0 10px;
  font-weight: 600;
}
@media (max-width: 576px) {
  .header__search-results-list-item-info-name {
    margin: 0 0 8px;
  }
}
.header__search-results-list-item-info-price {
  font-weight: 400;
}
.header__search-results-all {
  padding: 15px 25px;
}
@media (max-width: 992px) {
  .header__search-results-all {
    padding: 15px 20px;
  }
}
.header__search-results-all-button {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #0c0c0e;
  border: none;
  background: none;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__search-results-all-button {
    font-size: 14px;
  }
}
.header__search-results-all-button:hover {
  color: #d31d1d;
}
.header__basket {
  flex: 0 0 auto;
}
.header__basket-button {
  display: flex;
  align-items: center;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  border: 1px solid rgba(211, 29, 29, 0);
  border-radius: 40px;
  background-color: #db2222;
  transition-property: color, border, background-color, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__basket-button {
    padding: 18px 25px;
    font-size: 13px;
  }
}
@media (max-width: 680px) {
  .header__basket-button {
    padding: 11px 20px;
  }
}
.header__basket-button:hover {
  color: #d31d1d;
  border-color: #d31d1d;
  background-color: #ffffff;
}
.header__basket-button::before {
  content: "";
  display: block;
  width: 14px;
  margin-right: 5px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/basket.svg) center/cover no-repeat;
  transition-property: inherit;
  transition-timing-function: inherit;
  transition-duration: inherit;
  filter: brightness(1000%);
}
@media (max-width: 992px) {
  .header__basket-button::before {
    width: 14px;
  }
}
.header__basket-button:hover::before {
  filter: brightness(100%);
}
@media (max-width: 992px) {
  .header__basket-button-text {
    display: none;
  }
}
@media (max-width: 576px) {
  .header__basket-button-price {
    display: none;
  }
}
.header__telegram {
  flex: 0 0 auto;
}
.header__telegram-link {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background: url(../assets/telegram-logo.svg) center/cover no-repeat;
  transition: filter ease-in-out 0.2s;
  filter: grayscale(100%);
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__telegram-link {
    width: 42px;
  }
}
@media (max-width: 576px) {
  .header__telegram-link {
    width: 34px;
  }
}
.header__telegram-link:hover {
  filter: grayscale(0%);
}

.main {
  padding: 50px 0 60px;
}
@media (max-width: 992px) {
  .main {
    padding: 30px 0 40px;
  }
}
@media (max-width: 576px) {
  .main {
    padding: 20px 0 30px;
  }
}
.main__back-link {
  position: fixed;
  bottom: 60px;
  right: 100px;
  z-index: 100;
  display: block;
  width: 70px;
  aspect-ratio: 1/1;
  border-radius: 70px;
  background: url(../assets/arrow-top.svg) center/16px no-repeat;
  background-color: #d31d1d;
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}
@media (max-width: 992px) {
  .main__back-link {
    right: 20px;
    width: 40px;
    background-size: 12px;
  }
}
@media (max-width: 576px) {
  .main__back-link {
    right: 6px;
    bottom: 40px;
    width: 30px;
    background-size: 8px;
  }
}
.main__back-link.hidden {
  opacity: 0;
  pointer-events: none;
}

.footer {
  padding: 30px 0;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .footer {
    padding: 20px 0;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 15px 0;
  }
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 55px;
}
@media (max-width: 992px) {
  .footer__nav {
    gap: 10px 30px;
  }
}
@media (max-width: 576px) {
  .footer__nav {
    gap: 10px 20px;
  }
}
.footer__nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #0c0c0e;
  transition: all ease-in-out 0.2s;
}
@media (max-width: 992px) {
  .footer__nav-link {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .footer__nav-link {
    font-size: 14px;
  }
}
.footer__nav-link:hover {
  color: #d31d1d;
}
.footer__telegram {
  flex: 0 0 auto;
}
.footer__telegram-link {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background: url(../assets/telegram-logo.svg) center/cover no-repeat;
  transition: filter ease-in-out 0.2s;
  filter: grayscale(100%);
  cursor: pointer;
}
@media (max-width: 992px) {
  .footer__telegram-link {
    width: 42px;
  }
}
@media (max-width: 576px) {
  .footer__telegram-link {
    width: 34px;
  }
}
.footer__telegram-link:hover {
  filter: grayscale(0%);
}

.breadcrumbs__link, .breadcrumbs__current {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
@media (max-width: 992px) {
  .breadcrumbs__link, .breadcrumbs__current {
    font-size: 13px;
  }
}
.breadcrumbs__link {
  display: inline-block;
  color: #0c0c0e;
  transition: color ease-in-out 0.2s;
}
.breadcrumbs__link:hover {
  color: #d31d1d;
}
.breadcrumbs__link::after {
  content: "/";
  display: inline-block;
  margin: 0 8px;
  color: #777777;
}
.breadcrumbs__current {
  color: #777777;
}

.buy-cigarettes {
  margin: 60px 0;
}
@media (max-width: 992px) {
  .buy-cigarettes {
    margin: 40px 0;
  }
}
@media (max-width: 576px) {
  .buy-cigarettes {
    margin: 30px 0;
  }
}
.buy-cigarettes__title {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .buy-cigarettes__title {
    margin: 0 0 20px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .buy-cigarettes__title {
    margin: 30px 0;
    font-size: 24px;
  }
}
.buy-cigarettes__info {
  display: flex;
  gap: 30px;
  padding: 20px;
  border-radius: 25px;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .buy-cigarettes__info {
    flex-direction: column;
  }
}
.buy-cigarettes__info-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.buy-cigarettes__info-figure-image {
  display: block;
  max-width: 100%;
  width: 180px;
  height: auto;
}
.buy-cigarettes__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0c0c0e;
}
@media (max-width: 576px) {
  .buy-cigarettes__info-text {
    font-size: 14px;
  }
}

.search-filter {
  margin: 60px 0;
}
@media (max-width: 992px) {
  .search-filter {
    margin: 40px 0;
  }
}
@media (max-width: 576px) {
  .search-filter {
    margin: 30px 0;
  }
}
.search-filter__info {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #0c0c0e;
  text-align: center;
}
@media (max-width: 992px) {
  .search-filter__info {
    margin: 0 0 20px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .search-filter__info {
    font-size: 16px;
  }
}
.search-filter__content {
  padding: 20px 30px;
  border-radius: 25px;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .search-filter__content {
    padding: 15px 25px;
  }
}
.search-filter__sort {
  width: -moz-fit-content;
  width: fit-content;
}
.search-filter__sort .select-selected::before {
  content: "";
  display: block;
  width: 20px;
  aspect-ratio: 1/1;
  background: url(../assets/sort.svg) center/cover no-repeat;
}

.search-result__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 60px 0;
}
@media (max-width: 992px) {
  .search-result__content {
    gap: 30px;
    margin: 40px 0;
  }
}
@media (max-width: 576px) {
  .search-result__content {
    gap: 20px;
    margin: 30px 0;
  }
}
.search-result__card {
  display: flex;
  gap: 70px;
  padding: 40px 70px 20px 40px;
  border-radius: 25px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .search-result__card {
    gap: 30px;
    padding: 30px 30px 30px 20px;
  }
}
@media (max-width: 576px) {
  .search-result__card {
    display: block;
    padding: 20px;
  }
}
.search-result__card-slider {
  flex: 0 0 340px;
  max-width: 340px;
}
@media (max-width: 992px) {
  .search-result__card-slider {
    flex: 0 0 200px;
    max-width: 200px;
  }
}
@media (max-width: 576px) {
  .search-result__card-slider {
    flex: 0 1 auto;
    max-width: none;
    margin: 0 0 50px;
  }
}
.search-result__card-slider-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.search-result__card-slider .swiper {
  padding-bottom: 38px;
}
@media (max-width: 992px) {
  .search-result__card-slider .swiper {
    padding-bottom: 30px;
  }
}
.search-result__card-slider .swiper-button-prev, .search-result__card-slider .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 52px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .search-result__card-slider .swiper-button-prev, .search-result__card-slider .swiper-button-next {
    width: 40px;
    height: 40px;
    padding: 4px;
  }
}
.search-result__card-slider .swiper-button-prev::after, .search-result__card-slider .swiper-button-next::after {
  content: "";
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  background: url(../assets/prev-button.svg) center/cover no-repeat;
}
.search-result__card-slider .swiper-button-prev {
  left: 20px;
}
@media (max-width: 992px) {
  .search-result__card-slider .swiper-button-prev {
    left: 10px;
  }
}
.search-result__card-slider .swiper-button-next {
  right: 20px;
  transform: rotate(180deg);
}
@media (max-width: 992px) {
  .search-result__card-slider .swiper-button-next {
    right: 10px;
  }
}
.search-result__card-slider .swiper-pagination {
  top: auto !important;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}
.search-result__card-slider .swiper-pagination-bullet {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 !important;
  border: 1px solid #d31d1d;
  border-radius: 20px;
  background-color: #ffffff;
  opacity: 1;
}
@media (max-width: 992px) {
  .search-result__card-slider .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
.search-result__card-slider .swiper-pagination-bullet-active {
  background-color: #d31d1d;
}
.search-result__card-info-title {
  margin: 0 0 50px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .search-result__card-info-title {
    margin: 0 0 30px;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .search-result__card-info-title {
    margin: 0 0 20px;
    font-size: 18px;
  }
}
.search-result__card-info-name {
  margin: 0 0 50px;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .search-result__card-info-name {
    margin: 0 0 30px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .search-result__card-info-name {
    margin: 0 0 20px;
    font-size: 14px;
  }
}
.search-result__card-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 70px;
  margin: 0 0 50px;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .search-result__card-info-list {
    gap: 8px 40px;
    margin: 0 0 30px;
  }
}
@media (max-width: 576px) {
  .search-result__card-info-list {
    margin: 0 0 20px;
  }
}
.search-result__card-info-list-item {
  display: flex;
  gap: 8px;
  flex: 0 0 calc(50% - 35px);
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  border-bottom: 1px solid #d9d9d9;
}
@media (max-width: 992px) {
  .search-result__card-info-list-item {
    flex: 0 0 calc(50% - 20px);
    padding-bottom: 8px;
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .search-result__card-info-list-item {
    flex: 1 1 100%;
  }
}
.search-result__card-info-list-item-name {
  flex: 1 1 auto;
  color: #0c0c0e;
}
.search-result__card-info-list-item-value {
  color: #858586;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.search-result__card-info-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 15px 40px;
}
@media (max-width: 992px) {
  .search-result__card-info-bottom {
    gap: 15px 25px;
  }
}
@media (max-width: 576px) {
  .search-result__card-info-bottom {
    justify-content: space-between;
    gap: 15px 10px;
  }
}
.search-result__card-info-bottom-price {
  flex: 1 0 25%;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  color: #0c0c0e;
  text-align: right;
}
@media (max-width: 992px) {
  .search-result__card-info-bottom-price {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .search-result__card-info-bottom-price {
    flex: 1 1 70%;
    font-size: 18px;
    text-align: left;
  }
}
.search-result__card-info-bottom-quantity {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}
.search-result__card-info-bottom-quantity-count {
  display: flex;
  max-width: 44px;
  width: 100%;
  padding: 0 4px;
  height: 30px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #0c0c0e;
  border: 1px solid #d31d1d;
  border-left: none;
  border-right: none;
  outline: none;
  -moz-appearance: textfield;
}
.search-result__card-info-bottom-quantity-count::-webkit-outer-spin-button, .search-result__card-info-bottom-quantity-count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.search-result__card-info-bottom-quantity-minus, .search-result__card-info-bottom-quantity-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 40px;
  box-sizing: border-box;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  color: #d31d1d;
  border: 1px solid #d31d1d;
  border-radius: 20px 0 0 20px;
  background-color: #ffffff;
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
.search-result__card-info-bottom-quantity-minus:hover, .search-result__card-info-bottom-quantity-plus:hover {
  color: #ffffff;
  background-color: #d31d1d;
}
.search-result__card-info-bottom-quantity-minus {
  padding-bottom: 5px;
  border-radius: 20px 0 0 20px;
}
.search-result__card-info-bottom-quantity-plus {
  border-radius: 0 20px 20px 0;
}
.search-result__card-info-bottom-basket {
  flex: 0 0 auto;
}
@media (max-width: 680px) {
  .search-result__card-info-bottom-basket {
    flex: 1 1 auto;
  }
}
.search-result__card-info-bottom-basket-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  border: 1px solid rgba(211, 29, 29, 0);
  border-radius: 40px;
  background-color: #db2222;
  transition-property: color, border, background-color, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .search-result__card-info-bottom-basket-button {
    padding: 18px 25px;
    font-size: 13px;
  }
}
@media (max-width: 680px) {
  .search-result__card-info-bottom-basket-button {
    padding: 11px 20px;
    width: 100%;
  }
}
.search-result__card-info-bottom-basket-button:hover {
  color: #d31d1d;
  border-color: #d31d1d;
  background-color: #ffffff;
}
.search-result__card-info-bottom-basket-button::before {
  content: "";
  display: block;
  width: 14px;
  margin-right: 5px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/basket.svg) center/cover no-repeat;
  transition-property: inherit;
  transition-timing-function: inherit;
  transition-duration: inherit;
  filter: brightness(1000%);
}
@media (max-width: 992px) {
  .search-result__card-info-bottom-basket-button::before {
    width: 14px;
  }
}
.search-result__card-info-bottom-basket-button:hover::before {
  filter: brightness(100%);
}

.pages-nav__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.pages-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 48px;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #858586;
  border-radius: 48px;
  background-color: #ffffff;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .pages-nav__link {
    width: 40px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .pages-nav__link {
    width: 38px;
  }
}
.pages-nav__link:hover {
  color: #ffffff;
  background-color: #d31d1d;
}
.pages-nav__link.active {
  color: #ffffff;
  background-color: #d31d1d;
}
.pages-nav__link_prev::before, .pages-nav__link_next::before {
  content: "";
  display: block;
  width: 12px;
  aspect-ratio: 1/1;
  background: url(../assets/arrow-up-icon.svg) center/cover no-repeat;
  transition-property: filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
@media (max-width: 992px) {
  .pages-nav__link_prev::before, .pages-nav__link_next::before {
    width: 6px;
  }
}
.pages-nav__link_prev:hover::before, .pages-nav__link_next:hover::before {
  filter: brightness(1000%);
}
.pages-nav__link_prev {
  transform: rotate(180deg);
}
.pages-nav__divider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .pages-nav__divider {
    font-size: 14px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.modal.active {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  pointer-events: all;
}
.modal__body {
  position: relative;
  padding: 40px;
  max-width: calc(100dvw - 72px);
  width: 1116px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #ffffff;
  transform: translateY(-120dvh);
  transition: transform ease-in-out 0.8s;
}
@media (max-width: 992px) {
  .modal__body {
    padding: 30px 40px;
  }
}
@media (max-width: 576px) {
  .modal__body {
    max-width: calc(100dvw - 24px);
    padding: 20px 15px;
  }
}
.active .modal__body {
  transform: translateY(0);
}
.modal__content {
  max-height: calc(100dvh - 140px);
  padding-right: 10px;
  overflow: auto;
}
@media (max-width: 992px) {
  .modal__content {
    max-height: calc(100dvh - 120px);
  }
}
@media (max-width: 576px) {
  .modal__content {
    max-height: calc(100dvh - 100px);
  }
}
.modal__content::-webkit-scrollbar {
  width: 6px;
}
.modal__content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.modal__content::-webkit-scrollbar-thumb {
  background: #777777;
}
.modal__close {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10;
  display: block;
  width: 24px;
  border: 4px solid #ffffff;
  aspect-ratio: 1/1;
  background: url(../assets/close-modal.svg) center/cover no-repeat;
  background-color: #ffffff;
  cursor: pointer;
}
@media (max-width: 992px) {
  .modal__close {
    top: 30px;
    right: 38px;
    width: 16px;
  }
}
@media (max-width: 576px) {
  .modal__close {
    top: 20px;
    right: 14px;
    width: 12px;
  }
}

.modal-basket__title {
  margin: 0 0 30px;
  padding: 0 30px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-basket__title {
    padding: 0 20px;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .modal-basket__title {
    padding: 0 16px;
    margin: 0 0 20px;
    font-size: 18px;
  }
}
.modal-basket__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 30px;
}
@media (max-width: 576px) {
  .modal-basket__list {
    gap: 10px;
    margin: 0 0 20px;
  }
}
.modal-basket__list-item {
  display: flex;
  gap: 30px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
}
@media (max-width: 576px) {
  .modal-basket__list-item {
    gap: 20px;
  }
}
.modal-basket__list-item-figure {
  flex: 0 0 auto;
}
.modal-basket__list-item-figure-image {
  display: block;
  max-width: 100%;
  width: 110px;
  height: auto;
}
@media (max-width: 992px) {
  .modal-basket__list-item-figure-image {
    width: 90px;
  }
}
@media (max-width: 576px) {
  .modal-basket__list-item-figure-image {
    width: 60px;
  }
}
.modal-basket__list-item-info-name {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-basket__list-item-info-name {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .modal-basket__list-item-info-name {
    font-size: 14px;
  }
}
.modal-basket__list-item-info-price {
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-basket__list-item-info-price {
    margin: 0 0 20px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .modal-basket__list-item-info-price {
    font-size: 14px;
  }
}
.modal-basket__list-item-info-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 576px) {
  .modal-basket__list-item-info-controls {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.modal-basket__list-item-info-quantity {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}
.modal-basket__list-item-info-quantity-count {
  display: flex;
  max-width: 44px;
  width: 100%;
  padding: 0 4px;
  height: 30px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #0c0c0e;
  border: 1px solid #d31d1d;
  border-left: none;
  border-right: none;
  outline: none;
  -moz-appearance: textfield;
}
.modal-basket__list-item-info-quantity-count::-webkit-outer-spin-button, .modal-basket__list-item-info-quantity-count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-basket__list-item-info-quantity-minus, .modal-basket__list-item-info-quantity-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 40px;
  box-sizing: border-box;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  color: #d31d1d;
  border: 1px solid #d31d1d;
  border-radius: 20px 0 0 20px;
  background-color: #ffffff;
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
.modal-basket__list-item-info-quantity-minus:hover, .modal-basket__list-item-info-quantity-plus:hover {
  color: #ffffff;
  background-color: #d31d1d;
}
.modal-basket__list-item-info-quantity-minus {
  padding-bottom: 5px;
  border-radius: 20px 0 0 20px;
}
.modal-basket__list-item-info-quantity-plus {
  border-radius: 0 20px 20px 0;
}
.modal-basket__list-item-info-delete {
  display: inline-block;
  padding: 8px 20px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #0c0c0e;
  border: 1px solid rgba(12, 12, 14, 0.3);
  border-radius: 30px;
  opacity: 0.4;
  background-color: #ffffff;
  transition: all ease-in-out 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.modal-basket__list-item-info-delete:hover {
  color: #ffffff;
  background-color: #0c0c0e;
  opacity: 1;
}
.modal-basket__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 576px) {
  .modal-basket__bottom {
    flex-direction: column;
  }
}
.modal-basket__total {
  font-size: 22px;
  line-height: 150%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-basket__total {
    flex: 1 1 130px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .modal-basket__total {
    flex: 0 1 auto;
  }
}
.modal-basket__controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 576px) {
  .modal-basket__controls {
    flex-direction: column;
  }
}
.modal-basket__controls-clear, .modal-basket__controls-order, .modal-basket__controls-back {
  display: inline-block;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  border: 1px solid #d31d1d;
  border-radius: 30px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .modal-basket__controls-clear, .modal-basket__controls-order, .modal-basket__controls-back {
    padding: 13px 20px;
    font-size: 13px;
  }
}
.modal-basket__controls-clear:hover, .modal-basket__controls-order:hover, .modal-basket__controls-back:hover {
  color: #ffffff;
  border-color: #0c0c0e;
  background-color: #0c0c0e;
}
.modal-basket__controls-clear, .modal-basket__controls-back {
  color: #d31d1d;
  background-color: #ffffff;
}
.modal-basket__controls-order {
  color: #ffffff;
  background-color: #d31d1d;
}

.modal-order__title {
  margin: 0 0 30px;
  padding: 0 30px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-order__title {
    padding: 0 20px;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .modal-order__title {
    padding: 0 16px;
    margin: 0 0 20px;
    font-size: 18px;
  }
}
.modal-order__notification {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 0 30px;
}
@media (max-width: 576px) {
  .modal-order__notification {
    margin: 0 0 20px;
  }
}
.modal-order__notification-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 20px 25px;
  border-top: 2px solid #d31d1d;
  border-radius: 25px;
}
@media (max-width: 576px) {
  .modal-order__notification-item {
    gap: 10px;
    padding: 15px 20px;
  }
}
.modal-order__notification-item::before {
  content: "";
  flex: 0 0 auto;
  display: block;
  width: 16px;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-order__notification-item_alarm {
  border-top: 2px solid #d31d1d;
  background: rgba(211, 29, 29, 0.06);
}
.modal-order__notification-item_alarm::before {
  background-image: url(../assets/alarm.svg);
}
.modal-order__notification-item_warning {
  border-top: 2px solid #d3b81d;
  background: rgba(211, 184, 29, 0.06);
}
.modal-order__notification-item_warning::before {
  background-image: url(../assets/warning.svg);
}
.modal-order__notification-item_success {
  border-top: 2px solid #8ac379;
  background: rgba(138, 195, 121, 0.06);
}
.modal-order__notification-item_success::before {
  background-image: url(../assets/success.svg);
}
.modal-order__notification-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-order__notification-item-text {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .modal-order__notification-item-text {
    font-size: 13px;
  }
}
.modal-order__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 30px;
}
@media (max-width: 576px) {
  .modal-order__list {
    gap: 10px;
    margin: 0 0 20px;
  }
}
.modal-order__list-item {
  display: flex;
  gap: 30px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
}
@media (max-width: 576px) {
  .modal-order__list-item {
    gap: 20px;
  }
}
.modal-order__list-item-figure {
  flex: 0 0 auto;
}
.modal-order__list-item-figure-image {
  display: block;
  max-width: 100%;
  width: 110px;
  height: auto;
}
@media (max-width: 992px) {
  .modal-order__list-item-figure-image {
    width: 90px;
  }
}
@media (max-width: 576px) {
  .modal-order__list-item-figure-image {
    width: 60px;
  }
}
.modal-order__list-item-info-name {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-order__list-item-info-name {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .modal-order__list-item-info-name {
    font-size: 14px;
  }
}
.modal-order__list-item-info-price {
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-order__list-item-info-price {
    margin: 0 0 20px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .modal-order__list-item-info-price {
    font-size: 14px;
  }
}
.modal-order__list-item-info-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 576px) {
  .modal-order__list-item-info-controls {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.modal-order__list-item-info-quantity {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}
.modal-order__list-item-info-quantity-count {
  display: flex;
  max-width: 44px;
  width: 100%;
  padding: 0 4px;
  height: 30px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #0c0c0e;
  border: 1px solid #d31d1d;
  border-left: none;
  border-right: none;
  outline: none;
  -moz-appearance: textfield;
}
.modal-order__list-item-info-quantity-count::-webkit-outer-spin-button, .modal-order__list-item-info-quantity-count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-order__list-item-info-quantity-minus, .modal-order__list-item-info-quantity-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 40px;
  box-sizing: border-box;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  color: #d31d1d;
  border: 1px solid #d31d1d;
  border-radius: 20px 0 0 20px;
  background-color: #ffffff;
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
.modal-order__list-item-info-quantity-minus:hover, .modal-order__list-item-info-quantity-plus:hover {
  color: #ffffff;
  background-color: #d31d1d;
}
.modal-order__list-item-info-quantity-minus {
  padding-bottom: 5px;
  border-radius: 20px 0 0 20px;
}
.modal-order__list-item-info-quantity-plus {
  border-radius: 0 20px 20px 0;
}
.modal-order__list-item-info-delete {
  display: inline-block;
  padding: 8px 20px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #0c0c0e;
  border: 1px solid rgba(12, 12, 14, 0.3);
  border-radius: 30px;
  opacity: 0.4;
  background-color: #ffffff;
  transition: all ease-in-out 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.modal-order__list-item-info-delete:hover {
  color: #ffffff;
  background-color: #0c0c0e;
  opacity: 1;
}
.modal-order__info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-order__info {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .modal-order__info {
    margin-bottom: 20px;
  }
}
.modal-order__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-order__form-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.modal-order__form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-order__form-item-input, .modal-order__form-item-textarea {
  display: inline-block;
  padding: 16px 25px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #0c0c0e;
}
.modal-order__form-item-input::-moz-placeholder, .modal-order__form-item-textarea::-moz-placeholder {
  color: rgba(12, 12, 14, 0.3);
}
.modal-order__form-item-input::placeholder, .modal-order__form-item-textarea::placeholder {
  color: rgba(12, 12, 14, 0.3);
}
.modal-order__form-item-textarea {
  min-height: 140px;
  resize: none;
}
.modal-order__form-item-warning {
  display: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #d31d1d;
}
.modal-order__form-item:has(.modal-order__form-item-input:user-invalid) .modal-order__form-item-warning {
  display: inline-block;
}
.modal-order__form-social {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 0 30px;
}
.modal-order__form-social-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex: 0 0 calc(20% - 4px);
  padding: 13px 15px;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(12, 12, 14, 0.06);
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 680px) {
  .modal-order__form-social-radio {
    flex: 0 0 calc(50% - 2.5px);
  }
}
.modal-order__form-social-radio:hover {
  background: rgba(12, 12, 14, 0.1);
}
.modal-order__form-social-radio-input {
  display: none;
}
.modal-order__form-social-radio:has(input[type=radio]:checked)::after {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 14px;
  aspect-ratio: 1/1;
  background: url(../assets/check.svg) center/cover no-repeat;
}
.modal-order__form-social-radio-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  color: #000;
}
.modal-order__form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0 0 20px;
  border: none;
}
.modal-order__form-submit-disclaimer {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #d31d1d;
}
.modal-order__form-submit-button {
  display: inline-block;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  border: 1px solid #d31d1d;
  border-radius: 30px;
  background-color: #d31d1d;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .modal-order__form-submit-button {
    padding: 13px 20px;
    font-size: 13px;
  }
}
.modal-order__form-submit-button:hover {
  color: #ffffff;
  border-color: #0c0c0e;
  background-color: #0c0c0e;
}

.modal-city__title {
  margin: 0 0 30px;
  padding: 0 30px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-city__title {
    padding: 0 20px;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .modal-city__title {
    padding: 0 16px;
    margin: 0 0 20px;
    font-size: 18px;
  }
}
.modal-city__search {
  flex: 1 1 auto;
  max-width: 900px;
  margin: 0 auto 30px;
}
@media (max-width: 576px) {
  .modal-city__search {
    margin: 0 auto 20px;
  }
}
.modal-city__search::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  cursor: pointer;
}
.modal-city__search.active::before {
  display: block;
}
@media (max-width: 680px) {
  .modal-city__search {
    flex: 1 1 100%;
    order: 100;
  }
}
.modal-city__search-form {
  position: relative;
}
.modal-city__search-form-input {
  display: block;
  width: 100%;
  padding: 13px 56px 13px 20px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #0c0c0e;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
}
@media (max-width: 992px) {
  .modal-city__search-form-input {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .modal-city__search-form-input {
    padding: 10px 46px 10px 15px;
    font-size: 13px;
  }
}
.modal-city__search-form-input::-moz-placeholder {
  color: #cccccc;
}
.modal-city__search-form-input::placeholder {
  color: #cccccc;
}
.modal-city__search-form-input::-webkit-search-decoration, .modal-city__search-form-input::-webkit-search-cancel-button, .modal-city__search-form-input::-webkit-search-results-button, .modal-city__search-form-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.modal-city__search-form-button {
  position: absolute;
  top: 7px;
  right: 10px;
  bottom: 7px;
  display: block;
  aspect-ratio: 1/1;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  background: url(../assets/search_icon.svg) center/16px no-repeat;
  cursor: pointer;
}
@media (max-width: 576px) {
  .modal-city__search-form-button {
    top: 3px;
    bottom: 3px;
  }
}
.modal-city__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 900px;
  margin: 0 auto 30px;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 576px) {
  .modal-city__list {
    margin: 0 0 20px;
  }
}
.modal-city__list-item {
  padding: 13px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #0c0c0e;
  border: 1px solid rgba(12, 12, 14, 0.2);
  border-radius: 10px;
  background-color: #f4f4f4;
  cursor: pointer;
}
@media (max-width: 992px) {
  .modal-city__list-item {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .modal-city__list-item {
    padding: 11px 12px;
    font-size: 12px;
  }
}
.modal-city__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.modal-city__controls-forward, .modal-city__controls-back {
  flex: 0 0 auto;
  display: inline-block;
  padding: 13px 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #0c0c0e;
  border: 1px solid #0c0c0e;
  border-radius: 10px;
  background: #f4f4f4;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .modal-city__controls-forward, .modal-city__controls-back {
    padding: 12px 13px;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .modal-city__controls-forward, .modal-city__controls-back {
    padding: 12px 13px;
    font-size: 11px;
  }
}
.modal-city__controls-forward:hover, .modal-city__controls-back:hover {
  color: #ffffff;
  background-color: #0c0c0e;
}
.modal-city__controls-forward:disabled, .modal-city__controls-back:disabled {
  opacity: 0.5;
}
.modal-city__controls-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #0c0c0e;
  text-align: center;
}
@media (max-width: 992px) {
  .modal-city__controls-info {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .modal-city__controls-info {
    font-size: 12px;
  }
}

.modal-thanks .modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-thanks__figure {
  display: flex;
  justify-content: center;
  margin: 0 0 30px;
}
@media (max-width: 576px) {
  .modal-thanks__figure {
    margin: 0 0 20px;
  }
}
.modal-thanks__figure-image {
  display: block;
  max-width: 100%;
  width: 170px;
  height: auto;
}
@media (max-width: 576px) {
  .modal-thanks__figure-image {
    width: 140px;
  }
}
@media (max-width: 576px) {
  .modal-thanks__figure-image {
    width: 120px;
  }
}
.modal-thanks__title {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-thanks__title {
    margin: 0 0 10px;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .modal-thanks__title {
    margin: 0 0 20px;
    font-size: 18px;
  }
}
.modal-thanks__order {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-thanks__order {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .modal-thanks__order {
    margin: 0 0 20px;
    font-size: 13px;
  }
}
.modal-thanks__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 30px;
}
@media (max-width: 576px) {
  .modal-thanks__agreement {
    margin: 0 0 20px;
  }
}
.modal-thanks__agreement input {
  display: none;
}
.modal-thanks__agreement:before {
  content: "";
  flex: 0 0 auto;
  display: block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid #d31d1d;
  border-radius: 4px;
  background-color: #ffffff;
}
.modal-thanks__agreement:has(input[type=checkbox]:checked)::before {
  background: url(../assets/checkbox.svg) center/16px no-repeat;
}
.modal-thanks__agreement-text {
  flex: 0 1 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #0c0c0e;
}
.modal-thanks__agreement-text-link {
  color: #0c0c0e;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.modal-thanks__manager {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #0c0c0e;
}
@media (max-width: 992px) {
  .modal-thanks__manager {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .modal-thanks__manager {
    font-size: 13px;
  }
}
.modal-thanks__manager-link {
  color: #0c0c0e;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}