.header {
  padding: 30px 0;
  background-color: #ffffff;

  @include laptop {
    padding: 20px 0;
  }

  @include mobile {
    padding: 15px 0;
  }

  & .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @include laptop {
      gap: 15px 25px;
    }

    @include tabletsm {
      flex-wrap: wrap;
      gap: 15px 20px;
    }

    @include mobilesm {
      gap: 15px;
    }
  }

  &__burger {
    position: relative;
    flex: 0 0 auto;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      display: none;
      cursor: pointer;
    }

    &.active::before {
      display: block;
    }

    &-button {
      display: block;
      width: 35px;
      padding: 0;
      aspect-ratio: 1 / 1;
      border: none;
      background: url(../assets/hamburger.svg) center / cover no-repeat;
      transition: all ease-in-out 0.2s;
      cursor: pointer;

      @include laptop {
        width: 25px;
      }

      @include mobile {
        width: 20px;
      }

      &:hover {
        filter: brightness(110%);
      }

      .active & {
        background-image: url(../assets/close.svg);
      }
    }

    &-nav {
      position: absolute;
      top: calc(100% + 15px);
      left: 0;
      z-index: 500;
      display: flex;
      flex-direction: column;
      display: none;
      padding: 10px 0px;
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
      background: #ffffff;

      .active & {
        display: flex;
      }

      &-link {
        display: inline-block;
        min-width: 160px;
        padding: 15px 35px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: #0c0c0e;
        transition: all ease-in-out 0.2s;

        @include laptop {
          font-size: 14px;
          padding: 14px 35px;
        }

        @include mobile {
          min-width: 210px;
          padding: 12px 25px;
        }

        &:hover {
          color: #d31d1d;
          background: rgba(12, 12, 14, 0.06);
        }
      }
    }
  }

  &__location {
    position: relative;
    flex: 0 0 auto;
    max-width: 180px;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      display: none;
      cursor: pointer;
    }

    &.active::before {
      display: block;
    }

    @include laptop {
      max-width: 162px;
    }

    @include mobilesm {
      max-width: 120px;
    }

    &-button {
      display: flex;
      align-items: center;
      gap: 8px;
      max-width: 100%;
      padding: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #0c0c0e;
      text-align: left;
      border: none;
      background-color: rgba($color: $white, $alpha: 0);
      transition: color ease-in-out 0.2s;
      cursor: pointer;

      @include laptop {
        gap: 6px;
        font-size: 13px;
      }

      &:hover {
        color: #d31d1d;
      }

      &::before {
        content: '';
        flex: 0 0 auto;
        display: block;
        width: 22px;
        padding: 0;
        aspect-ratio: 1 / 1;
        border: none;
        background: url(../assets/geo.svg) center / cover no-repeat;

        @include laptop {
          width: 16px;
        }
      }

      &-city {
        display: inline-block;
        max-width: calc(100% - 30px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        pointer-events: none;

        @include laptop {
          max-width: calc(100% - 22px);
        }
      }
    }

    &-modal {
      position: absolute;
      top: calc(100% + 15px);
      left: -32px;
      z-index: 500;
      display: none;
      width: max-content;
      padding: 30px 35px;
      box-sizing: border-box;
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
      background: #ffffff;

      @include mobile {
        padding: 25px;
      }

      .active & {
        display: block;
      }

      &-city {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0 0 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #0c0c0e;

        @include mobile {
          font-size: 13px;
          margin: 0 0 15px;
        }

        &::before {
          content: '';
          flex: 0 0 auto;
          display: block;
          width: 22px;
          padding: 0;
          aspect-ratio: 1 / 1;
          border: none;
          background: url(../assets/geo.svg) center / cover no-repeat;

          @include laptop {
            width: 16px;
          }
        }
      }

      &-buttons {
        display: flex;
        gap: 10px;

        &-ok,
        &-choose {
          flex: 0 0 auto;
          padding: 13px 20px;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          border-radius: 40px;
          transition-property: color, border-color, background-color;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;
          cursor: pointer;

          @include mobile {
            padding: 10px 14px;
            font-size: 13px;
          } 
        }

        &-ok {
          color: #ffffff;
          border: 1px solid #d31d1d;
          background-color: #d31d1d;

          &:hover {
            color: #d31d1d;
            background-color: #ffffff;
          }
        }

        &-choose {
          color: #0c0c0e;
          border: 1px solid rgba(0, 0, 0, 0.12);
          background-color: #ffffff;

          &:hover {
            color: #ffffff;
            border-color: #0c0c0e;
            background-color: #0c0c0e;
          }
        }
      }
    }
  }

  &__search {
    flex: 1 1 auto;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      display: none;
      cursor: pointer;
    }

    &.active::before {
      display: block;
    }

    @include tabletsm {
      flex: 1 1 100%;
      order: 100;
    }

    &-form {
      position: relative;

      &-input {
        display: block;
        width: 100%;
        padding: 13px 56px 13px 20px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #0c0c0e;
        border: 1px solid #ccc;
        border-radius: 30px;
        outline: none;

        @include laptop {
          font-size: 14px;
        }

        @include mobile {
          padding: 10px 46px 10px 15px;
          font-size: 13px;
        }

        &::placeholder {
          color: #cccccc;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          -webkit-appearance: none;
        }
      }

      &-button {
        position: absolute;
        top: 7px;
        right: 10px;
        bottom: 7px;
        display: block;
        aspect-ratio: 1 / 1;
        padding: 0;
        aspect-ratio: 1 / 1;
        border: none;
        background: url(../assets/search_icon.svg) center / 16px no-repeat;
        cursor: pointer;

        @include mobile {
          top: 3px;
          bottom: 3px;
        }
      }
    }

    &-results {
      position: absolute;
      top: calc(100% + 5px);
      left: 50%;
      z-index: 500;
      display: none;
      padding: 15px 0px;
      max-height: calc(100dvh - 240px);
      max-width: calc(100% - 24px);
      width: 454px;
      box-sizing: border-box;
      overflow: auto;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      background-color: #ffffff;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
      transform: translate3d(-50%, 0, 0);

      @include mobile {
        padding: 10px 0;
      }

      .active & {
        display: block;
      }

      &-list {
        padding: 0;
        margin: 0;
        list-style-type: none;

        &-item {
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 15px 25px;
          transition: background-color ease-in-out 0.2s;
          cursor: pointer;

          @include laptop {
          }

          @include mobile {
            padding: 15px 20px;
          }

          &:hover {
            background-color: rgba($color: #0c0c0e, $alpha: 0.05);
          }

          &-figure {
            display: block;
            width: 42px;
            aspect-ratio: 1 / 1;
            background-color: #ffffff;

            @include laptop {
              width: 38px;
            }

            &-image {
              display: block;
              max-width: 100%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &-info {
            & > * {
              font-size: 16px;
              line-height: 100%;
              color: #0c0c0e;

              @include laptop {
                font-size: 14px;
              }

              @include mobile {
                font-size: 13px;
              }
            }

            &-name {
              margin: 0 0 10px;
              font-weight: 600;

              @include mobile {
                margin: 0 0 8px;
              }
            }

            &-price {
              font-weight: 400;
            }
          }
        }
      }

      &-all {
        padding: 15px 25px;

        @include laptop {
          padding: 15px 20px;
        }

        &-button {
          padding: 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: #0c0c0e;
          border: none;
          background: none;
          transition: all ease-in-out 0.2s;
          cursor: pointer;

          @include laptop {
            font-size: 14px;
          }

          &:hover {
            color: #d31d1d;
          }
        }
      }
    }
  }

  &__basket {
    flex: 0 0 auto;

    &-button {
      display: flex;
      align-items: center;
      padding: 18px 30px;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #fff;
      border: 1px solid rgba($color: #d31d1d, $alpha: 0);
      border-radius: 40px;
      background-color: #db2222;
      transition-property: color, border, background-color, filter;
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;
      cursor: pointer;

      @include laptop {
        padding: 18px 25px;
        font-size: 13px;
      }

      @include tabletsm {
        padding: 11px 20px;
      }

      &:hover {
        color: #d31d1d;
        border-color: rgba($color: #d31d1d, $alpha: 1);
        background-color: #ffffff;
      }

      &::before {
        content: '';
        display: block;
        width: 14px;
        margin-right: 5px;
        padding: 0;
        aspect-ratio: 1 / 1;
        border: none;
        background: url(../assets/basket.svg) center / cover no-repeat;
        transition-property: inherit;
        transition-timing-function: inherit;
        transition-duration: inherit;
        filter: brightness(1000%);

        @include laptop {
          width: 14px;
        }
      }

      &:hover::before {
        filter: brightness(100%);
      }

      &-text {
        @include laptop {
          display: none;
        }
      }

      &-price {
        @include mobile {
          display: none;
        }
      }
    }
  }

  &__telegram {
    flex: 0 0 auto;

    &-link {
      display: block;
      width: 50px;
      aspect-ratio: 1 / 1;
      background: url(../assets/telegram-logo.svg) center / cover no-repeat;
      transition: filter ease-in-out 0.2s;
      filter: grayscale(100%);
      cursor: pointer;

      @include laptop {
        width: 42px;
      }

      @include mobile {
        width: 34px;
      }

      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}
